<div class="modal-background">
    <div class="modal-content">
        <header>
            <webcap-button-styled id="closeButton" buttonClass="principal header" (click)="closeModal()">&times;</webcap-button-styled>
        </header>
        <main>
            <video  src="{{ this.VideoUrl }}" [controlsList]="'nodownload'" controls></video>
        </main>
        <footer class="options">
            <webcap-button-styled  (click)="this.downloadVideo()" [buttonDisabled]="isProcessing">
                {{ (isProcessing)? 'SAVING...' : 'SAVE VIDEO' }}
            </webcap-button-styled>
        </footer>
    </div>
</div>

