webcap-screenshot-button {
	display: flex;
	justify-content: center;
    align-items: center;
}

webcap-record-button{
    display: flex;
	justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

body{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}