/* You can add global styles to this file, and also import other style files */

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}


.mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 2em;
}