.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

webcap-frame-uploader {
    display: flex;
	justify-content: center;
    align-items: center;
}

webcap-file-list{
    display: flex;
	justify-content: center;
    align-items: center;
}

