<div class="container">
	<section class="fileList">
		<div *ngFor="let file of fileList" class="file">
			<em>{{ file.name }}</em>
			<button (click)="deleteFile(file)">delete</button>
		</div>
	</section>
	<section class="configure-selector">

        <button class="menuButtonBin" (click)="emptyList()">🗑</button>

        <label class = "menuButton" for="files"><span style="color: green;">+</span> ADD FILES</label>
        <input style="display: none;" id="files" type="file"  [accept]="fileType()+'/*'" (change)="onFileSelected($event)" multiple>


		<button class="menuButton" (click)="convertFiles()">CONVERT</button>

		<label>FILE FORMATS</label>
		<select
			name="format-video-selector"
			id="format-video-selector"
			[(ngModel)]="format"
		>
			<option>mp4</option>
			<option>avi</option>
			<option>webm</option>
			<option>mov</option>
			<option>mkv</option>
		</select>
	</section>
</div>
